{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{% static 'web/style.css' %}">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

  <title>Aggro pi :: About</title>

</head>

<body class="bg">
  <nav class="navbar navbar-expand nav-fill w-100" id="nav-index">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a class="nav-link" name="About" href="{% url 'web:about' %}">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" name="Home" href="{% url 'web:index' %}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" name="Contact" href="{% url 'web:contact' %}">Contact</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <div class="row justify-content-start">
      <div id="about-text" class="col-9 col-lg-6">
        Welcom to AgroPi, the device to make gardening easy! We will help you monitor the environmental
        conditions of your plants, and notify you whenever the conditions are too far from the optimal
        ones, so that your plants never have to wither again.
      </div>
    </div>
    <div class="row justify-content-end">
      <div id="about-text" class="col-9 col-lg-6">
        When receiving your AgroPi, you can create an account, where you can edit your plants and
        view the current and previous conditions. Including the temperature, the humidity, the soil
        moisture and the light intensity.
      </div>
    </div>

    <div class="row justify-content-center">
      <div id="about-text" class="col-6">
        <img src="{% static 'web/images/closed_cropped.jpg' %}" class="img-fluid" alt="Responsive image">
      </div>
    </div>
    <div class="row justify-content-start">
      <div id="about-text" class="col-9 col-lg-6">
        This device was created for a project for the University
        of Twente, by Kalin Doychev, 
        Ignacy Kępka,
        Larissa van Deinse,
        Scott Jonker and
        Tariq Riahi.
      </div>
    </div>

  </div>

  <!-- Bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
    crossorigin="anonymous"></script>
</body>

</html>